<!DOCTYPE html>
<html>
<head>
    <title>Bankbot</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/kube/6.5.2/css/kube.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
    <script src="https://unpkg.com/vue@2.4.2"></script>
    <style>
      * {
        font-family: 'Roboto Mono', monospace !important;
      }
    </style>
</head>
<body class="small">
    <div id="app" style="padding:20px;">

      <h1><a href="https://github.com/gabrielaandb/bankbot-ui" target="_blank"><img style="width:35px;" src="bankbot.jpg"></a> {{title}} <span style="font-size:12px;font-weight:thin;">v 1.0</span></h1>

      <div class="form-item">
        <label>Endpoint</label>
        <select id="endpoint" v-model="endpoint" v-on:change="change">
          <option disabled value="">Please select one</option>
          <option v-for="option in options" v-bind:value="option.value">{{option.name}}</option>
        </select>
        <div v-if="error" style="padding-top:20px;">
          <div class="message error"> {{error}} <span class="close small" v-on:click="error=false;"></span></div>
        </div>
      </div>
      <div class="row gutters">
        <div id="request" class="col col-6">
          <fieldset>
            <legend>Request</legend>
            <form>
              <div class="form-item">
                <textarea style="resize:vertical;font-family:monospace;" class="smaller" rows="12" v-model="request">{{request}}</textarea>
              </div>
              <div class="form-item">
                <button v-on:click="post">POST</button>
                <button v-on:click="clear" class="button secondary outline">CLEAR</button>
              </div>
            </form>
          </fieldset>
        </div>
        <div id="response" class="col col-6">
          <fieldset>
            <legend>Response <span v-if="status">({{status}})</span></legend>
              <pre v-if="response" class="smaller">{{response}}</pre>
          </fieldset>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/kube/6.5.2/js/kube.min.js"></script>
    <script src="./post-json.js"></script>
    <script src="./sample-requests.js"></script>
    <script src="./app.js"></script>
</body>
</html>
